@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model IndexModel

@inject IViewLocalizer ViewLocalizer;

@{
    ViewData["Title"] = ViewLocalizer["ToolOnline"];
}

<div class="text-center">
    <div>
        <div class="TypeTitle">@ViewLocalizer["CommonComparisonTable"]</div>
        <ul class="ul_tools">
            <li class="li_tool">
                <a href="./TableTools/MimiType" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-fenlei"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Common Mime Type Reference Table"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TableTools/CssSelectors" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-css"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["CSS Selector reference table"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TableTools/VimCommand" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-vim"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Vim Command Reference Table"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TableTools/GitCommand" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-git1"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Git Command Reference Table"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TableTools/Emoji" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-EMOJI-"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Emoji"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TableTools/Linux" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-linux"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Common Linux commands"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TableTools/SpecialSymbols" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-teshufuhao"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Special Symbols"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TableTools/HttpStatusCode" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-10httpshujujiaohumoban"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["HTTP status code"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TableTools/UrlEscapeCode" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-url"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Url Escape Character"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="/TableTools/UsualNumber" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-dianhua"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Frequently Used Phone List"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="/TableTools/Ascii" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-dianhua"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["ASCII Character Reference"]</span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <div class="TypeTitle">@ViewLocalizer["Conversion Tool"]</div>
        <ul class="ul_tools">
            <li class="li_tool">
                <a href="./ConvertTools/BinaryConvert" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-binarycode"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Base conversion"]</span>
               </a>
            </li>
            <li class="li_tool">
                <a href="./ConvertTools/ColorConvert" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-dixiayanse"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Color value conversion"]</span>
                </a>
            </li> 
        </ul>
    </div>
    
    <div>
        <div class="TypeTitle">@ViewLocalizer["Text Tool"]</div>
        <ul class="ul_tools">
            <li class="li_tool">
                <a href="./TxtTools/WordCount" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shuliangtongji"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Word count"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TxtTools/JsonFormat" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-json"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Json formatting"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TxtTools/MarkdownEdit" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-md"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Markdown Editor"]</span>
                </a>
            </li>
            <li class="li_tool">
                <a href="./TxtTools/Regular" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-a-regex1x"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Regular Expression"]</span>
                </a>
            </li>
        </ul>
    </div>

    <div>
        <div class="TypeTitle">@ViewLocalizer["Encoding Conversion"]</div>
        <ul class="ul_tools">
            <li class="li_tool">
                <a href="./CodeTools/EncodeDecode" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bianma"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Encoding And Decoding"]</span>
               </a>
            </li>
        </ul>
    </div>

    <div>
        <div class="TypeTitle">@ViewLocalizer["Generating tools"]</div>
        <ul class="ul_tools">
            <li class="li_tool">
                <a href="./CreateTools/GuidCreate" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-g"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Guid Generation"]</span>
               </a>
            </li>
            <li class="li_tool">
                <a href="./CreateTools/QrCodeCreate" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-erweima"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["QRCode Generation"]</span>
               </a>
            </li>
            <li class="li_tool">
                <a href="./BackImg/index.html" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tupian"></use>
                    </svg>
                    <span class="sp_toolname">
                        @ViewLocalizer["Simple Main Image Generation"]
                    </span>
               </a>
            </li>
            <li class="li_tool">
                <a href="./CreateTools/CodeGeneration" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-shipin"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Video Embedding Code Generation"]</span>
               </a>
            </li>
            <li class="li_tool">
                <a href="./CreateTools/GoodGeneration" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-gouwu"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Product Card Generation"]</span>
                </a>
            </li>
        </ul>
    </div>
    <div>
        <div class="TypeTitle">@ViewLocalizer["Query tools"]</div>
        <ul class="ul_tools">
            <li class="li_tool">
                <a href="./QueryTools/ShowIp" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bangong"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Ip Query"]</span>
               </a>
            </li>
            <li class="li_tool">
                <a href="./QueryTools/GetImages" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-tupian"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["One Click Download Of Images"]</span>
               </a>
            </li>
            <li class="li_tool">
                <a href="./QueryTools/GetPreferentialProducts" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bianxian"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Coupon Inquiry"]</span>
               </a>
            </li>
            <li class="li_tool">
                <a href="./QueryTools/CheckUrl" class="a_tool">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-bianxian"></use>
                    </svg>
                    <span class="sp_toolname">@ViewLocalizer["Website Link Detection Tool"]</span>
                </a>
            </li>
        </ul>
    </div>
</div>
